
    #container {
        width: 100%;
        height: 700px;
        -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
        -webkit-perspective-origin: 50% 225px;
      }
      #stage {
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 2s;
        -webkit-transform-style: preserve-3d;
      }
      
      #shape {
        position: relative;
        top: 160px;
        margin: 0 auto;
        height: 200px;
        width: 200px;
        -webkit-transform-style: preserve-3d;
      }
      
      .plane {
        position: absolute;
        height: 200px;
        width: 200px;
        border: 1px solid white;
        -webkit-border-radius: 12px;
        -webkit-box-sizing: border-box;
        text-align: center;
        font-family: Times, serif;
        font-size: 124pt;
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-transition: -webkit-transform 2s, opacity 2s;
        -webkit-backface-visibility: hidden;
      }
  
      #shape.backfaces .plane {
        -webkit-backface-visibility: visible;
      }
      
      #shape {
        -webkit-animation: spin 8s infinite linear;
      }
  
      @-webkit-keyframes spin {
        from { -webkit-transform: rotateY(0); }
        to   { -webkit-transform: rotateY(-360deg); }
      }
  
      /* ---------- cube styles ------------- */
      .cube > .one {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
      }
  
      .cube > .two {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
      }
  
      .cube > .three {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
      }
  
      .cube > .four {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
      }
  
      .cube > .five {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
      }
  
      .cube > .six {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
      }
  
  
      .cube > .seven {
        -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
      }
  
      .cube > .eight {
        -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
      }
  
      .cube > .nine {
        -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
      }
  
      .cube > .ten {
        -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
      }
  
      .cube > .eleven {
        -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
      }
  
      .cube > .twelve {
        -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
      }
  
      /* ---------- ring styles ------------- */
      .ring > .one {
        -webkit-transform: translateZ(380px);
      }
  
      .ring > .two {
        -webkit-transform: rotateY(30deg) translateZ(380px);
      }
  
      .ring > .three {
        -webkit-transform: rotateY(60deg) translateZ(380px);
      }
  
      .ring > .four {
        -webkit-transform: rotateY(90deg) translateZ(380px);
      }
  
      .ring > .five {
        -webkit-transform: rotateY(120deg) translateZ(380px);
      }
  
      .ring > .six {
        -webkit-transform: rotateY(150deg) translateZ(380px);
      }
  
      .ring > .seven {
        -webkit-transform: rotateY(180deg) translateZ(380px);
      }
  
      .ring > .eight {
        -webkit-transform: rotateY(210deg) translateZ(380px);
      }
  
      .ring > .nine {
        -webkit-transform: rotateY(-120deg) translateZ(380px);
      }
  
      .ring > .ten {
        -webkit-transform: rotateY(-90deg) translateZ(380px);
      }
  
      .ring > .eleven {
        -webkit-transform: rotateY(300deg) translateZ(380px);
      }
  
      .ring > .twelve {
        -webkit-transform: rotateY(330deg) translateZ(380px);
      }
  
      #togglebutton {
      font-size: 35pt;
      background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(70,70,70,0.6250875350140056) 30%, rgba(23,23,23,1) 60%, rgba(121,121,121,1) 75%, rgba(0,0,0,1) 80%);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      border: none;
      display: block;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      text-align: center;
      line-height:250px;
      transition: all 0.4s ease 0s;
        
  }
  
      #togglebutton:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      text-decoration: none;
      background: rgb(0,0,0);
      background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(23,23,23,0.7091211484593838) 32%, rgba(70,70,70,1) 52%, rgba(121,121,121,0.9640231092436975) 69%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 94%);
  }










  .progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
  }
  @keyframes progress {
    to {
      background-color: rgb(20, 255, 226);
      width: 100%;
    }
  }
  
  .cube-wrap {
    --size: 30vmin;
    position: fixed;
    top: 50%;
    left: 85%;
    width: 0;
    height: 0;
    perspective: 100vmin;
  }
  .cube-wrap1 {
    --size: 30vmin;
    position: fixed;
    top: 50%;
    left: 15%;
    width: 0;
    height: 0;
    perspective: 100vmin;
  }
  .cube {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    animation: cube 1s linear;
  }
  @keyframes cube {
    to {
      transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
    }
  }
  
  .side {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #eee;
    backface-visibility: visible;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
  }
  .top {
    background-color: #fff;
    transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
  }
  .bottom {
    background-color: #999;
    transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
  }
  .left {
    background-color: #ccc;
    transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
  }
  .right {
    background-color: #ddd;
    transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
  }
  .front {
    background-color: #aaa;
    transform: translateZ(calc(var(--size) * .5));
  }
  .back {
    background-color: #bbb;
    transform: translateZ(calc(var(--size) * -.5));
  }
  
  :root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }